<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Trap x00">

    <title>NJUAdmin</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="http://cdn.bootcss.com/metisMenu/2.6.1/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

    <script src="http://cdn.bootcss.com/metisMenu/2.6.1/metisMenu.min.js"></script>

    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="http://cdn.bootcss.com/startbootstrap-sb-admin-2/3.3.7+1/js/sb-admin-2.min.js"></script>

    <script src="../static/js/common.js"></script>
    <script src="../static/js/urls.js"></script>
    <script src="../static/js/js.cookie.js"></script>
    <!--<link href="../static/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />-->



</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NJUAdmin</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="logged_in" href="" id="date"></li>
                <li class="dropdown logged_in">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-users">
                        <li><a onclick="logOut()"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <li id="not_logged"><a href="/login">登录</a></li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> 首页</a>
                        </li>
                        <li>
                            <a href="/course_table"><i class="fa fa-table fa-fw"></i> 课程表</a>
                        </li>
                        <li>
                            <a href="/pecard"><i class="fa fa-pencil fa-fw"></i> 体育打卡</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> 校园卡数据<span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="/schoolcard/data">数据</a>
                                </li>
                                <li>
                                    <a href="/schoolcard/charts">图表</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> 考试相关<span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level collapse">
                                <li>
                                    <a href="/exams/schedules">考试安排</a>
                                </li>
                                <li>
                                    <a href="/exams/grades">考试成绩</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/communication"><i class="fa fa-sitemap fa-fw"></i> 课程交流</a>
                        </li>
                        <li>
                            <a href="/plugins"><i class="fa fa-wrench fa-fw"></i> 开源插件</a>
                        </li>
                        <li>
                            <a href="/websites"><i class="fa fa-question fa-fw"></i> 常用网站</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
        {% block page_content %} {% endblock %}

        <div class="wrapper footer">
            <hr>
            <p class="text-center">Made in 2016 by Trap x00. Click <a href="https://github.com/trapx00/NJUAdmin">here</a> for Github Repository.</p>
        </div>
        <script>init();</script>

</body>
</html>