<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Trap x00">

    <title>NJUAdmin</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/vendor/sb-admin-2/sb-admin-2.min.css" rel="stylesheet">

    <link href="../static/vendor/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <script src="../static/vendor/metisMenu/metisMenu.min.js"></script>

    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="../static/vendor/sb-admin-2/sb-admin-2.min.js"></script>

    <script src="../static/js/common.js"></script>
    <script src="../static/js/urls.js"></script>
    <script src="../static/js/js.cookie.js"></script>

    <script src="../static/vendor/bootstrap-table/bootstrap-table.js"></script>
    <script src="../static/vendor/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">NJUAdmin</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="logged_in" href="" id="date"></li>
                <li class="dropdown logged_in">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-users">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> 用户信息</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li><a onclick="logOut()"><i class="fa fa-sign-out fa-fw"></i> 登出</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <li id="not_logged"><a href="/login">登录</a></li>
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> 首页</a>
                        </li>
                        <li>
                            <a href="/course_table"><i class="fa fa-table fa-fw"></i> 课程表</a>
                        </li>
                        <li>
                            <a href="/pecard"><i class="fa fa-table fa-fw"></i> 体育打卡</a>
                        </li>
                        <li>
                            <a href="/school_card"><i class="fa fa-edit fa-fw"></i> 校园卡业务</a>
                        </li>
                        <li>
                            <a href="communication.html"><i class="fa fa-sitemap fa-fw"></i> 课程交流</a>
                        </li>
                        <li>
                            <a href="elements.html"><i class="fa fa-wrench fa-fw"></i> 开源插件</a>
                        </li>
                        <li>
                            <a href="/websites"><i class="fa fa-question fa-fw"></i> 常用网站</a>
                        </li>
                    </ul>
                </div>
        </nav>
        {% block page_content %} {% endblock %}
        <div class="wrapper footer">
            <p>Made in 2016 by Trap x00. Click <a href="https://github.com/viccrubs/NJUAdmin">here</a> for Github Repository.</p>
        </div>
    </div>
    </div>
    <script>init();</script>

</body>