{% extends "base.html" %} {% block page_content %}
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="alert alert-warning">
			<b>注意！</b>
			<p>您需要使用南京大学统一认证平台的账号登录。也是南大App的账号。</p>
			<p>即<a href="http://cer.nju.edu.cn/amserver/UI/Login">http://cer.nju.edu.cn/amserver/UI/Login</a></p>
			<hr>
			<p>您的密码会被发送到本平台，若您不放心，可以取消使用本平台，并移步南大App。</p>
			<p>感谢您的支持！</p>
		</div>
		<form method="POST">
			<input type="text" name="username" class="form-control" placeholder="用户名" />
			<input type="password" name="password" class="form-control" placeholder="密码" />
			<img src="{{img}}" alt="验证码获取失败，请刷新" id="captcha" />
			<input type="text" class="form-control" name="captcha" placeholder="验证码" />
			<button class="btn btn-primary" type="submit">OK</button>
		</form>
	</div>
	<!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script src="../static/js/login.js"></script> {% endblock %}