{% extends "base.html" %}
{% block page_content %}
<script src="../static/js/transinfo.js"></script>
	<div id="page-wrapper">
		<div class="row">
            <label class="label label-primary fa fa-calendar fa-3x">卡内余额:</label>
			<label class="label label-danger huge" id="balance">29</label>          
				<hr>
		</div>
		<div>
			<table class="table" data-toggle="table">
			<thead>
				<tr>
					<th>#</th>
					<th>时间</th>
					<th>消费地点</th>
					<th>花费</th>
					<th>余额</th>
				</tr>
			</thead>
			<tbody id="pecard_list">
			</tbody>
		</table>
		</div>
	</div>
{% endblock %}
