{% extends "base.html" %} {% block page_content %}
<div id="page-wrapper">
    <h1>开源插件</h1>
    <hr>
    <div>
        <input type="text" class="form-control" placeholder="拖拽以上传插件">
        <p></p>
    </div>
    <div class="row">
        <i class="fa fa-arrow-up fa-fw"></i>
        <a href="#"><button type="button" class="btn btn-info">上传插件</button></a>
    </div>
    <hr>
    <div>
        <div>
            <h2><i class="fa fa-dashboard fa-fw"></i>插件列表</h2>
            <hr>
        </div>
        <div>
            <ol>
                <li></li>
                <hr>
                <li></li>
                <hr>
                <li></li>
                <hr>
                <li></li>
                <hr>
                <li></li>
                <hr>
                <li></li>
                <hr>
                <li></li>
                <hr>
                <li></li>
                <hr>
                <li></li>
                <hr>
            </ol>
        </div>
        <div>
            <ul class="pagination">
                <li class="paginate_button previous disabled" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="#">Previous</a></li>
                <li class="paginate_button active" aria-controls="dataTables-example" tabindex="0"><a href="#">1</a></li>
                <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">2</a></li>
                <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">3</a></li>
                <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">4</a></li>
                <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">5</a></li>
                <li class="paginate_button " aria-controls="dataTables-example" tabindex="0"><a href="#">6</a></li>
                <li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="#">Next</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}