{% extends "base.html" %}
{% block page_content %}

	<div id="page-wrapper">
		<div class="row">
			<div class="container-fluid">
            <label class="label label-primary fa fa-calendar fa-3x">卡内余额:</label>
			<label class="label label-danger huge" id="balance">29</label>       
		</div>   
		</div>
		<hr>
		<div class="row">
			<div class="container-fluid">
			<table id="detailed">
		</table>
		</div>
		</div>
	</div>
	<script src="../static/js/school_card.js"></script>
{% endblock %}
