{% extends "base.html" %} {% block page_content %}
<div id="page-wrapper">
	<div class="row">
		<h1 class="page-header">常用网站</h1>
	</div>
	<div class="row">
		<div>
			<a class="btn btn-default" href="http://jw.nju.edu.cn">教务网</a>
			<b class="font-awesome/css/font-awesome">账号：学号；密码：录取号后六位</b>
			<hr>
		</div>

		<a class="btn btn-default" href="http://book.njulib.cn">图书馆</a>
		<b class="font-awesome/css/font-awesome">账号：学号；密码：学号</b>
		<hr>

		<a class="btn btn btn-default" href="http://opac.nju.edu.cn/opac/search.php">我的图书馆</a>
		<b class="font-awesome/css/font-awesome">南京大学统一认证平台</b>
		<hr>

		<a class="btn btn-default" href="http://study.nju.edu.cn">spoc经典悦读</a>
		<b class="font-awesome/css/font-awesome">账号：学号；密码：录取号后六位</b>
		<hr>

		<a class="btn btn-default" href="http://software.nju.edu.cn">软件学院</a>
		<b class="font-awesome/css/font-awesome">账号：学号@smail.nju.edu.cn；初始密码：录取号（邮箱）</b>
		<hr>

		<a class="btn btn-default" href="http://eol.nju.edu.cn">eol英语互动学习平台</a>
		<b class="font-awesome/css/font-awesome">账号：学号；密码：学号</b>
		<hr>

		<a class="btn btn-default" href="http://www.fifedu.com/ipat/bp/index">fif</a>
		<b class="font-awesome/css/font-awesome">账号：nju+学号；初始密码：123456</b>
		<hr>

		<a class="btn btn-default" href="http://tyb.nju.edu.cn:8080">阳光体育查询系统</a>
		<b class="font-awesome/css/font-awesome">账号：学号；密码：学号</b>
		<hr>

		<a class="btn btn-default" href="http://www.pigai.org">批改网</a>
		<b class="font-awesome/css/font-awesome">账号：自定义；密码：自定义</b>
		<hr>

		<a class="btn btn-default" href="http://zijingbt.njuftp.org">紫荆站 BT</a>
		<b class="font-awesome/css/font-awesome">账号：自定义；密码：自定义</b>
		<hr>

		<a class="btn btn-default" href="http://bbs.nju.edu.cn">小百合</a>
		<b class="font-awesome/css/font-awesome">账号：自定义；密码：自定义</b>
		<hr>

		<a class="btn btn-default" href="http://moon.nju.edu.cn">离散moon</a>
		<b class="font-awesome/css/font-awesome">账号：自定义；密码：自定义</b>
		<hr>

		<a class="btn btn-default" href="http://oa.nju.edu.cn">自助办理</a>
		<b class="font-awesome/css/font-awesome">南京大学统一认证平台</b>
		<hr>

		<a class="btn btn-default" href="http://nic.nju.edu.cn">网络中心</a>
		<b class="font-awesome/css/font-awesome">无需登录</b>
		<hr>

		<a class="btn btn-default" href="http://volunteer.nju.edu.cn">志愿者网站</a>
		<b class="font-awesome/css/font-awesome">南京大学统一认证平台</b>
		<hr>

		<a class="btn btn-default" href="http://youth.nju.edu.cn">第二课堂</a>
		<b class="font-awesome/css/font-awesome">南京大学统一认证平台</b>
		<hr>

		<a class="btn btn-default" href="http://qinggongxiao.nju.edu.cn">青共校网站</a>
		<b class="font-awesome/css/font-awesome">南京大学统一认证平台</b>
		<hr>
	</div>
</div>
{% endblock %}